@{ ViewBag.PageTitle = "À propos"; }
<h2>Wikimedia</h2>

<p><em>Le seul site où Wikipédia a peur de venir vérifier les sources.</em></p>

<dl>
    <dt>
        Auteur:
    </dt>
    <dd>
        Carl Patrice Antonio Paul <br />
        (Développeur le jour, bug hunter la nuit)
    </dd>

    <dt>
        Mission secrète
    </dt>
    <dd>
        Ajouter des fonctionnalités… et corriger celles que j’ai moi-même brisées.
    </dd>

    <dt>
        Courriel
    </dt>
    <dd>
        <a href="mailto:GetManmaw@gmail.com">GetManmaw@gmail.com</a><br />
        (Réponse garantie en moins de 3 à 5 jours ouvrables… peut-être.)
    </dd>

    <dt>
        Technologies utilisées
    </dt>
    <dd>
        Du café , beaucoup de patience, et un peu de magie noire.
    </dd>

    <dt>
        Date de la dernière mise à jour
    </dt>
    <dd>
        13 mars 2026 <br />
        Je comprend pas pourquoi il remplace tout les e accent son remplacer pas des caractere bizzards
    </dd>

    <dt>
        Niveau de stabilité
    </dt>
    <dd>
        92% stable, 8% surprise. (j'ai mentit 100% instable)
    </dd>
    <dt>Utilisation de StackOverflow</dt>
    <dd>
        Fonction réellement utilisée 1 ( sur 10)
    </dd>
</dl>

<p><strong>Avertissement :</strong> Toute ressemblance avec un vrai site fonctionnel serait purement intentionnelle.</p>